html,body{
    margin:0;
    padding:0;
}
header{
   margin:0;
   position:fixed;
   width:100%;
   z-index:100;
   background-color: #0c0032;
   height:10vh;
    
}
a{
    text-decoration: none;
    color:#ffffff;
}
h1{
    color:#ffffff;
    text-align: center;
    margin:0;
    font-family: 'Mr Dafoe', cursive;
    
}
ul{
    color:#ffffff;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding:0;
    font-family: 'Merriweather', Serif;
    border-bottom: solid;
    border-bottom-width: 4px;
    border-bottom-color: grey;
    background-color: #0c0032;
}
li{
    list-style: none;
    
}
h2{
    text-align: center;
    font-family: 'Merriweather', Serif;
    color:#ffffff;
    background-color: #0c0032;
    margin:0;
    padding-bottom: 2vh;
    border-bottom: solid;
    border-bottom-color: #99738e;
    border-bottom-width: 12px;
}
article{
    background-color: #0c0032;
    padding-top: 16vh;
}
#lfn{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#ffffff;
    padding-top: 5px;
    font-size: 24px;

}
#parent{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-bottom:2vh;
    background-color: #0c0032;
}
.artbox{
    height:38vh;
    width:80%;
    border:solid;
    position:relative;
    margin-bottom: 5vh;
}
.upl{
    height:90%;
    width:90%;
    position:absolute;
    overflow: hidden;
}
.lr{
    height:30%;
    width:90%;
    position:absolute;
    bottom:0;
    right:0;
    background-color: purple;
    padding-left:10px;
    box-sizing: border-box;
}
p{
    font-size: 18px;
    color:#ffffff;
}
#bottom{
    display:flex;
    justify-content:space-around;
}
footer{
    height:8vh;
    background-color: #99738e;
}
#telly{
    text-align:center;
}
#image2b, #image3b{
    height:100%;
    width:100%;
}
@media only screen and (min-width:400px)
{
    .artbox{
        width:48vh;
    }
    
}
@media only screen and (min-width:768px)
{
    .artbox{
        width:55%;
        height:55vh;
        
    
    }
}
@media only screen and (min-width:1100px)
{
    #parent{
        flex-direction: row;
        justify-content:space-around;
        height:65vh;
    }
    .artbox{
        width:28%;
        
    }
