html,body{
    margin:0;
    padding:0;
}
header{
   margin:0;
   position:fixed;
   width:100%;
   height:5vh;
   background-color: #0c0032;
    z-index: 100;
    padding:0;
    
}
h1{
    font-family: 'Mr Dafoe', cursive;
    text-align: center;
    margin:0;
    color:#ffffff;
}
ul{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding:0;
    font-family: 'Merriweather', serif;
    color:#ffffff;
    margin:0;
    background-color: #0c0032;
    border-bottom: solid;
    border-bottom-color: #99738e;
    border-bottom-width: 4px;
    padding:0;
}
li{
    list-style: none;
    background-color: #0c0032;
    margin:0;
}
#input{
    display:none;
}
#recenttab{
    display:none;
}
main{
    height:45vh;
    padding-top: 13vh;
    padding-bottom: 5vh;
    display:flex;
    justify-content:center;
     border-bottom: dotted;
    border-bottom-color: #99738e;
    border-bottom-width: 4px;
    background-color: #0c0032;
}
p#headline{
    margin:0;
    padding:10px;
    box-sizing: border-box;
    font-size: 18px;
}
#titleimage, #titleimage2, #titleimage3{
    height:38vh;
    width:86%;
    border:none;
    position:relative;
    background-color: #0c0032;
}
#upl, #upl2, #upl3{
    height:90%;
    width:90%;
    border:none;
    overflow: hidden;
}
#upl{
      position:absolute;
    background-image: contain;
    background-position: center;
    overflow:hidden;
}
#mainimage{
    max-width: 100%;
    background-image: contain;
    right:50px;
}
#lr, #lr2, #lr3{
    height:25%;
    width:90%;
    border:none;
    position:absolute;
    bottom:0;
    right:0;
    background-color:purple;
}
.upltab{
    overflow:hidden;
}
#imagehand2, #imageshoe{
    max-width: 100%;
    background-image: contain;
}
#imageshoe{
    position:absolute;
    bottom:0;
}
h2{
    text-align: center;
    background-color: #0c0032;
    margin:0;
    padding:2vh;
    box-sizing: border-box;
    font-size: 30px;
    padding:none;
    margin:0;
    font-family: 'Mr Dafoe', cursive;
    color:#ffffff;

}
li{
    text-align: center;
}
ol{
    margin:0;
    padding:0;
    background-color: #0c0032
}
h3{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 24px;
    margin:0;
    padding:6%;
    box-sizing: border-box;
    color:#ffffff;
    background-color: #0c0032;
}
#recent{
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color: #0c0032
}
#titleimage2, #titleimage3{
    margin-bottom: 3vh;
    background-color: #0c0032
    
}
#bottom{
    display:flex;
    justify-content:space-around;
    
}
#telly{
    text-align:center;
    color: #000000;
    text-decoration: none;
}
p{
    font-family: 'Merriweather', serif;
    color:#ffffff;
    margin: 0;
    padding-top: 5%
}
a{
    text-decoration: none;
    color:#ffffff;
}
a:hover{
    opacity:.5;
}
#image2b, #image3b{
    width:100%;
    
}
.img5{
    width:100%;
}
footer{
        font-family: 'Merriweather', serif;
        background-color: #99738e;
        padding:5px;
        box-sizing: border-box;
}
@media only screen and (min-width:400px){

    #recenttab{
        display: block;
    
    }
    .titleimagetab{
        display:block;
        height:22vh;
        width:23vh;
        position:relative;
        box-sizing: border-box;
    }
    .upltab{
        height:90%;
        width:90%;
        border:solid;
        position: absolute;
    }
    .lrtab{
        height:25%;
        width:90%;
        position:absolute;
        background-color: purple;
        z-index:10;
        bottom:0;
        right:0;
    }
    p#headline2{
        margin:0;
        padding:8px;
        box-sizing: border-box;
        font-size: 14px;
    }
    main{
        display:flex;
        flex-direction:row;
        align-items:space-around;
        justify-content:space-around;
    }
    #titleimage{
        width:45vh;
        height:43vh;
    }
    li{
        display:flex;
        flex-direction:row;
        border-bottom-color: #99738e;
        border-bottom-width:;
    }
    .limg{
        
        display:flex;
        align-items:center;
        padding:4vh;
        font-size: 21px;
        box-sizing: border-box;
        width:100%;
    }
    .img5{
        height:18vh;
        width:18vh;
    }
    p{
        padding-left: 2vh;
    }
    #titleimage2, #titleimage3{
        height: 45vh;
        width:80%;
    }
    ul, footer{
        font-size: 18px;
    }
    h2, h3{
        font-size:30px;
    }
    h3{
        font-size: 30px;
        padding-bottom: 2vh;
    }
    

@media only screen and (min-width:768px)
{
    #titleimage{
        height:54vh;
        width: 67vh;
        box-sizing: border-box;
    }
    .titleimagetab{
        width: 35vh;
        height:27vh;
    }
    .img5{
        height:35vh;
        width:35vh;
    }
    main{
        height: 57vh;
    }
    p#headline2, p#headline{
        font-size: 19px;
        
    }
    p#headline{
        padding:5%;
    }
}
@media only screen and (min-width:1100px)
{
    header{
        height:11vh;
    }
    main{
        height:59vh;
    }
     #titleimage{
        height:60vh;
        width: 80vh;
        box-sizing: border-box;
    }
    .titleimagetab{
        width: 50vh;
        height:30vh;
    }
    #titleimage2, #titleimage3{
        width:55vh;
    }
    #recent{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        padding:2vh;
        box-sizing: border-box;
    }
    ul, footer{
        font-size: 23px;
    }
    h2, h3{
        font-size:30px;
    }
    h3{
        font-size: 30px;
        padding-bottom: 2vh;
    }
    p#headline{
        font-size:28px;
    }
    p#headline2{
        font-size:20px;
    }
    main{
        padding-top: 16vh;
    }
}
@media only screen and (min-width:1400px)
{
    #titleimage{
        height:75vh;
        width: 90vh;
        box-sizing: border-box;
    }
    .titleimagetab{
        width: 65vh;
        height:37vh;
    }
    #recent{
        justify-content:space-around;
    }
    main{
        height:80vh;
    }
    
